.post {
  &__img {
    margin-bottom: 10px;
    img {
      width: 100%;
    }
  }
  &__tags {
    margin-bottom: 10px;
    ul {
      display: flex;
      li {
        cursor: pointer;
        position: relative;
        padding: 0 10px 0 15px;
        &::after {
          content: '';
          position: absolute;
          left: 0;
          top: 11px;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: mediumaquamarine;
        }
      }
    }
  }
  &__title {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;
  }
  &__user {
    font-size: 16px;
    font-weight: 700;
    color: black;
    margin-bottom: 10px;
    span {
      font-size: 14px;
      font-weight: 400;
      color: #7f888f;
    }
  }
  &__desc {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
.viewBlock {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
}

.viewSvg {
  width: 15px;
}
.btns {
  margin-top: 20px;
  display: flex;
  gap: 4px;
}
